:root
{
    --Mangata: #0E2C41;
    --principal: #000000;
    --secondary: #ffffff;
    --grey1: #1c1c1c;
    --grey2: #eeeeee;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Barlow', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar
{
    width: 10px;
}
html::-webkit-scrollbar-thumb
{
    background-color: #232323;
}
html::-webkit-scrollbar-track
{
    background-color: #131313;
}

body
{
    position: relative;
    background-color: var(--principal);
}

h1
{
    font-size: 4.6rem;
    font-family: 'Cinzel', serif;
}

h2
{
    font-size: 3.6rem;
    font-family: 'Cinzel', serif;
}

header
{
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    height: auto;
}

.nav-container
{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.nav-logo-container
{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--principal);
    justify-content: center;
    align-items: center;
}
.nav-logo-container img
{
    width: auto;
    height: 40px;
}
#remadeLogo
{
    position: relative;
    display: flex;
    font-family: 'Cinzel', serif;
    color: white;
    justify-content: center;
    align-items: center;
}
#remadeLogo span:nth-child(1)
{
    font-size: 3rem;
}
#remadeLogo span:nth-child(2)
{
    font-size: 5rem;
}
#remadeLogo span:nth-child(3)
{
    font-size: 3rem;
}

nav
{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: var(--grey1);
    justify-content: center;
    align-items: center;
}

nav ul
{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul a
{
    font-size: 1.6rem;
    color: var(--secondary);
    text-decoration: none;
}
nav ul a:hover
{
    color: #307eb5;
}

.cover-page-container
{
    position: relative;
    display: flex;
    width: 100%;
    height: 60vh;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
}

#background-video
{
    position: absolute;
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: top;
    background-position: center bottom;
    margin: auto;
    padding-top: 80px;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

#featured-floating-image
{
    position: absolute;
    width: auto;
    height: 300px;
    /* bottom: 60px; */
    animation: spacial-ring 30s infinite ease-in-out;
}
@keyframes spacial-ring
{
    0%{
        bottom: 90px;
        rotate: 5deg;
    }
    50%{
        bottom: 130px;
        rotate: -35deg;
    }
    100%{
        bottom: 90px;
        rotate: 5deg;
    }
}

.article-cover
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
}
.article-cover h1
{
    color: white;
}
.article-cover p
{
    color: var(--grey2);
}

/* section contains a white background color */
.content-section-container
{
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--secondary);
    justify-content: center;
    align-items: center;
}

/* article contains a max-width  */
.articles-container
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 20px;
    gap: 20px;
}

.content-section-container article
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 372px;
    color: white;
    padding: 20px;
    background-color: black;
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    border-radius: 4px;
    transition-duration: .5s;
}
.content-section-container article:hover
{
    width: 100%;
}

.content-section-container article:nth-child(1)
{
    background-image: url('../assets/onespacehole.png');
}
.content-section-container article:nth-child(2)
{
    background-image: url('../assets/twospaceholes.png');
}
.content-section-container article:nth-child(3)
{
    background-image: url('../assets/fourspaceholes.png');
}

.content-section-container article:nth-child(1):hover,
.content-section-container article:nth-child(2):hover,
.content-section-container article:nth-child(3):hover
{
    background-size: 140%;
}

.content-section-container p 
{
    position: absolute;
    opacity: 0;
    bottom: 20px;
    transition-duration: .5s;
}

.content-section-container article:nth-child(1):hover p,
.content-section-container article:nth-child(2):hover p,
.content-section-container article:nth-child(3):hover p
{
    opacity: 1;
}

.about-section-container
{
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 20px 60px;
    color: white;
    /* background-image: url('../assets/Asset\ 4@3x.png'); */
    background: linear-gradient(to right, var(--Mangata), var(--grey1));
    background-size: 500% 500%;
    animation: about-background 2s infinite ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-section-container article
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-section-container p
{
    max-width: 700px;
    font-size: 1.6rem;
    font-weight: 100;
}
@keyframes about-background
{
    0%{
        background-position: 0 50%;
    } 
    50%{
        background-position: 100% 50%;
    } 
    100%{
        background-position: 0 50%;
    }
}

.contact-section-container
{
    display: flex;
    width: 100%;
    height: auto;
}
.contact-section-container article
{
    display: flex;
    width: 100%;
    height: auto;
}
.contact-image
{
    flex: 1;
    width: 100%;
    height: auto;
    background-image: url('../assets/contact_image.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

}
.contact-form
{
    flex: 2;
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
    background-color: var(--secondary);
    text-align: center;
}



/* start contact form code */

.form-container
{
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 0 0 0;
    border-radius: 8px;
}
#contact-form
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
}
#contact-form h2
{
    text-align: center;
    padding: 20px;
}
.inputBox
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.inputBox input
{
    position: relative;
    z-index: 6;
    width: 100%;
    padding: 14px 14px 14px;
    background: transparent;
    border: none;
    border-radius: 2px;
    outline: none;
    color: var(--grey1);
    font-size: 20px;
}
.inputBox textarea
{
    position: relative;
    z-index: 6;
    width: 100%;
    height: 120px;
    padding: 14px 14px 14px;
    background: transparent;
    border: none;
    border-radius: 2px;
    outline: none;
    color: var(--grey1);
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    resize: none;
}
.inputBox span
{
    position: absolute;
    left: 0;
    margin-left: 8px;
    margin-top: 2px;
    padding: 10px 14px 10px 6px;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    color: rgb(196, 196, 196);
    pointer-events: none;
    transition: 0.4s;
    z-index: 4;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span
{
    color: var(--Mangata);
    font-size: 1.2rem;
    padding: 10px 6px 10px 6px;
    transform: translateY(-30px);
}
.inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--grey2);
    border-radius: 8px;
    transition: 0.4s;
    pointer-events: none;
    z-index: 5;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i,
.inputBox textarea:valid ~ i,
.inputBox textarea:focus ~ i
{
    height: 100%;
}
.buttons-form
{
    display: flex;
    gap: 20px;
}
.buttons-form input[type="submit"]
{
    display: flex;
    width: 100%;
    min-width: 64px;
    height: 33px;
    border: none;
    border-radius: 8px !important;
    background: var(--Mangata);
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* end contact form code */

footer
{
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--grey2);
}

footer div
{
    display: flex;
    width: 50%;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
footer img
{
    width: auto;
    height: 60px;
}

/* start powered by Daniel Maciel Acevedo code */

#PoweredByDanielMacielAcevedo
{
    position: absolute;
    bottom: -104px;
    display: flex;
    width: 100%;
    height: auto;
}
#PoweredByDanielMacielAcevedo div
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 4px;
}
#PoweredByDanielMacielAcevedo i 
{
    background-image: url();
}

/* end powered by Daniel Maciel Acevedo code */

@media only screen and (max-width: 800px)
{
    h1
    {
        font-size: 2.6rem;
    }

    h2
    {
        font-size: 1.6rem;
    }

    nav ul a
    {
        font-size: 1.4rem;
    }

    #featured-floating-image
    {
        height: 140px;
        /* bottom: 60px; */
    }
    @keyframes spacial-ring
    {
        0%{
            bottom: 100px;
            rotate: 5deg;
        }
        50%{
            bottom: 130px;
            rotate: -35deg;
        }
        100%{
            bottom: 100px;
            rotate: 5deg;
        }
    }

    .article-cover
    {
        padding-bottom: 70px;
    }

    .articles-container
    {
        flex-direction: column;
    }

    .content-section-container article
    {
        width: 100%;
        height: 76px;
        background-position: left;
    }

    .content-section-container article:hover
    {
        width: 100%;
        height: 350px;
    }

}